<template name="blog">
	<section class="blog-section">
		<div class="container">
			<h1 class="text-center">We are storytellers</h1>
			<hr>
			<div class="row">
				<div class="col-lg-6 blog-bg">
					<div class="row">
						<div class="col-lg-4 text-center">
							<img class="img-circle" src="/img/home/team/team4.jpg">
							<h4>Jaye Smith</h4>
							<h6>Published Aug 30.</h6>
						</div>
						<div class="col-lg-8 blog-content">
							<h2>We Define Success</h2>
							<div class="text-justify">
								<p>
									Armed with insight, we embark on designing the right brand experience that engages
									the audience. It encompasses both the strategic direction and creative execution
									that solves a business problem and brings the brand to life.
								</p>
								<p>
									In the create phase, the big idea is unleashed to the world through different
									media touchpoints. This is when we watch the audience fall in love all over again
									with our client’s brand.
								</p>
							</div>
							<a href="#"><i class="fa fa-fw fa-link"></i> Read More</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 blog-bg">
					<div class="row">
						<div class="col-lg-4 text-center">
							<img class="img-circle" src="/img/home/team/team3.jpg">
							<h4>Michele Lampa</h4>
							<h6>Published Aug 28.</h6>
						</div>
						<div class="col-lg-8 blog-content">
							<h2>A Beautiful Story</h2>
							<div class="text-justify">
								<p>
									Armed with insight, we embark on designing the right brand experience that engages
									the audience. It encompasses both the strategic direction and creative execution
									that solves a business problem and brings the brand to life.
								</p>
								<p>
									In the create phase, the big idea is unleashed to the world through different
									media touchpoints. This is when we watch the audience fall in love all over again
									with our client’s brand.
								</p>
							</div>
							<a href="#"><i class="fa fa-fw fa-link"></i> Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>

<template name="divider5">
	<section class="divider divider5">
		<div class="container text-center">
			<h1>Crafted in New York, USA.</h1>
			<hr>
			<p class="lead">
				Some Address 987,
				<br>+34 9884 4893
			</p>
			<p class="lead">
				<a href="#"><i class="fa fa-lg fa-fw fa-twitter"></i></a>
				<span> | </span>
				<a href="#"><i class="fa fa-lg fa-fw fa-facebook"></i></a>
			</p>
		</div>
	</section>
</template>
