<template name="services">
	<section>
		<div class="container">
			<h2 class="text-center">One brand, one voice.</h2>
			<hr>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-justify">
					<p>
						Employees and consumers. Two halves of a brand’s entirety, the whole of a brand’s
						audience. Sometimes these two halves have very different viewpoints, creating a weak
						spot in the brand story. Weakness tarnishes credibility. Brands that aren’t credible
						aren’t viable.
					</p>
					<p>
						We squash weakness by designing the whole brand story. It’s crafted around the truism
						held by employees and consumers to create an experience that connects from the inside
						out.
					</p>
					<p>
						By being true to the brand we represent, we elevate the audiences’ relationship to it.
						Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand
						blossom from within, creating a whole story the audience embraces. That’s when the brand
						can truly flex its muscles.
					</p>
				</div>
			</div>
			<h2 class="text-center">Mobile first thinking, always.</h2>
			<hr>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<img class="img-responsive" src="/img/home/services/iphone.png">
				</div>
			</div>
		</div>
	</section>
</template>

<template name="divider2">
	<section class="divider divider2">
		<div class="container text-center">
			<h1>Design is an interaction</h1>
			<hr>
			<p class="lead">
				To develop a deeper and more meaningful connection with consumers,
				we believe design must invite them to take part in the conversation.
			</p>
		</div>
	</section>
</template>
